<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
        <img
            src="{{ url_for('static', filename='img/cp_logo.png') }}"
            alt="CIDEPINT Logo"
            class="brand-image img-circle elevation-3"
        />
        <span class="brand-text font-weight-light">CIDEPINT</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
            >
                {% include 'layouts/menu.html' %}
            </ul>
        </nav>
    </div>
</aside>
