<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ code_error }} | {{ error_name }}</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}" />
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>{{ code_error }}</h1>
            </div>
            <h2>{{ error_description }}</h2>
            <p>{{ error_message }}</p>
            <a href="{{ url_for('home') }}">Volver al inicio</a>
            {% if is_authenticated(session) %}
            <a href="{{ url_for('dash.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
            {% endif %}
        </div>
    </div>
</body>

</html>