{% extends "layouts/front.html" %} {% block content %}
<div class="jumbotron mt-3">
    <h1 class="display-4">Bienvenidos a CIDEPINT!</h1>
    <p class="lead">Descubrí todas las funciones de nuestro sistema al completar tu registro y accede a nuestro
        sistema.</p>
    <hr class="my-4" />
    <p>El Centro de Investigación y Desarrollo en Pinturas (CIDEPINT) es un laboratorio de investigación y desarrollo de
        pinturas y recubrimientos, que brinda servicios de análisis y ensayos a la industria y a la comunidad
        científica.
    </p>
</div>
{% endblock %}