<div class="form-group col-sm-6">
    <label for="name">Nombre</label>
    {{ form.name(class="form-control", id="name", placeholder="Ingrese nombre", autofocus=autofocus) }}
</div>

<div class="form-group col-sm-6">
    <label for="direccion">Dirección</label>
    {{ form.direccion(class="form-control", id="direccion", placeholder="Ingrese dirección") }}
</div>

<div class="form-group col-sm-12">
    <label for="info">Información</label>
    {{ form.info(class="form-control", id="info", placeholder="Ingrese información", rows="5") }}
</div>

<div class="form-group col-sm-6">
    <label for="dias_horarios">Días y horarios</label>
    {{ form.dias_horarios(class="form-control", id="dias_horarios", placeholder="Ingrese días y horarios") }}
</div>

<div class="form-group col-sm-6">
    <label for="localizacion">Localización</label>
    {{ form.localizacion(class="form-control", id="localizacion", placeholder="Ingrese localización") }}
</div>

<div class="form-group col-sm-6">
    <label for="contacto">Contacto</label>
    {{ form.contacto(class="form-control", id="contacto", placeholder="Ingrese contacto") }}
</div>

<div class="form-group col-sm-6">
    <label for="web">Web</label>
    {{ form.web(class="form-control", id="web", placeholder="Ingrese web") }}
</div>

<div class="form-group col-sm-6">
    <label for="palabras_clave">Palabras claves</label>
    {{ form.palabras_clave(class="form-control", id="palabras_clave", placeholder="Ingrese palabras claves") }}
</div>